<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OnlineStoreSuite">
  <test thread-count="5" name="PurchaseMagicMouseTest">
  	<classes>
  		<class name="PurchaseMagicMouseTest" />
  	</classes>
  </test> <!-- PurchaseMagicMouseTest -->
</suite> <!-- OnlineStoreSuite -->
