<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OnlineStoreTestSuite">
 
    <test name="Purchase Magic Mouse Test">
	<classes>
		<class name="onlineStoreAutomation.PurchaseMagicMouseTest" />
		<class name="onlineStoreAutomation.PurchaseMagicMouseTest2" />
	</classes>
    </test>
  
</suite>